body 
	{
	max-width: 960px;
	margin-top: 90px;
	margin: auto;
	background-image: url("../img/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	}

header
{
	padding: 50px;
	background-image: url("../img/companylogoBG.jpg");
	background-position: 0px;
	background-size: 100%, auto,  cover;
	text-align: center;
	color: #FFFFFF;
	text-shadow: -.03em -.03em 0 #000, .03em -.03em 0 #000, -.03em .03em 0 #000, .03em .03em 0 #000;
	font-family: "Berlin Sans FB", "Times New Roman";
	font-size: 5em;
	font-weight: 500;
	text-decoration: none;
}

/*Video styling*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

/*Video styling*/
.fullscreen-bg__video {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    object-fit: cover;
}

/*Start desktop nav bar*/
a
{
	color: #FFFFFF;
	text-decoration: none;
}

li a:hover
{
    background-color: #000000;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #707070;
    text-align: center;
    max-width: 100%;
    border: 0.03em solid #FFFFFF;
}

li 
{
    display: inline;
}

li a 
{
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    font-family: "Arial", "Times New Roman";
}
/*End desktop nav bar*/

h4
{
	font-weight: normal;
	font-family: "Arial", "Times new roman";
	font-size: 5em;
	background-color: #2699FB;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding:10px;
}


/*Images styling*/
img 
{
	display: block;
	max-width: 100%;
	height: auto;
	object-fit: cover;
	max-height: 400px;
	width: 100%;
}

/*footer styling*/
footer
{
    border:0.03em solid #FFFFFF;
    background-color: #000000;
    padding: 0.03em;
    text-align: center;
    color: white;
    font-family: "Arial", "Times new roman";
    font-size: 2em;
}

/*Break*/
span
{
	display: block;
}

/*Do not display mobile specific content*/
#mobile
{
	display: none;
}

/*Do not display mobile menu button*/
#menu-button
{
	display: none;
}

/*Mobile specific code under here*/
@media only screen and (max-width:360px)
{
	/*Stop displaying the background movie on mobile*/
	.fullscreen-bg
	{
		display: none;
	}

	/*image styling*/
	img
	{
		max-height: 150px;
		padding: 1%;
	}

	/*Start mobile menu*/
	#menu-button:hover + #mobile
	{
		display: block;
	}

	#mobile:hover
	{
		display: block;
	}

	#menu-button
	{
		padding: 0.03em;
		display: block;
		background-color: #707070;
		border: 3px #FFFFFF solid;
		text-align: left;
	}

	#menu-button > img
	{
		object-fit: fill;
		height: 2em;
		width: auto;
	}

	#mobile > ul
	{
		font-size: 1em;
		text-align: left;
	}

	#mobile > li a
	{
		font-size: 1em;
		text-align: left;
		display: block;
	} 
	/*End mobile menu*/

	/*Do not display desktop content*/
	.d-none
	{
		display: none;
	}

	/*do not display desktop/tablet menu*/
	#desktop
	{
		display: none;
	}

	h4
	{
		font-size: 1.5em;
	}

	/*Remove background image on mobile*/
	body
	{
		background-image: none;
	}

	footer
	{
		font-size: 1em;
		border: none;
		padding: 1em;

	}

	header
	{
		text-shadow: none;
		font-size: 2em;
		padding: 20px;
		background-size: 360px, auto, cover;
	}

}
/*Tablet specific code under here*/
@media only screen and (min-width:361px) and (max-width: 960px)
{

	/*Stop displaying movie on tablet*/
	.fullscreen-bg
	{
		display: none;
	}

	header
	{
		padding: 30px;
		font-size: 3em;
	}

	li a
	{
		font-size: 1em;
		padding-top: 0px;
		padding-bottom: 0px;
	}

	ul
	{
		padding: 3px;
		border: 1px solid #FFFFFF;
	}

	/*Stop displaying desktop-specific content*/
	.d-tablet
	{
		display: none;
	}

	/*Image adjustment for tablet*/
	.tablet
	{
		float: left;
		border: 4px solid  #FFFFFF;
		max-width:calc(50% - 8px); 
		height: 300px;
		min-height: 100px;
	}

	h4
	{
		font-size: 3em;
	}

	footer
	{
		font-size: 1em;
		border: none;
		padding: 7px;
	}
}